Service References/ServicioVideoClubResRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioVideoClubRes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServicioVideoClubRes" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioVideoClubRes_GetRes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRes" />
  </wsdl:message>
  <wsdl:message name="IServicioVideoClubRes_GetRes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioVideoClubRes_GetRes_LogFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioVideoClubRes" name="detail" element="q1:LogFault" />
  </wsdl:message>
  <wsdl:message name="IServicioVideoClubRes_Reservar_InputMessage">
    <wsdl:part name="parameters" element="tns:Reservar" />
  </wsdl:message>
  <wsdl:message name="IServicioVideoClubRes_Reservar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReservarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioVideoClubRes_Reservar_LogFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioVideoClubRes" name="detail" element="q2:LogFault" />
  </wsdl:message>
  <wsdl:portType name="IServicioVideoClubRes">
    <wsdl:operation name="GetRes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioVideoClubRes/GetRes" message="tns:IServicioVideoClubRes_GetRes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioVideoClubRes/GetResResponse" message="tns:IServicioVideoClubRes_GetRes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicioVideoClubRes/GetResLogFaultFault" name="LogFaultFault" message="tns:IServicioVideoClubRes_GetRes_LogFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reservar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioVideoClubRes/Reservar" message="tns:IServicioVideoClubRes_Reservar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioVideoClubRes/ReservarResponse" message="tns:IServicioVideoClubRes_Reservar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicioVideoClubRes/ReservarLogFaultFault" name="LogFaultFault" message="tns:IServicioVideoClubRes_Reservar_LogFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioVideoClubRes" type="tns:IServicioVideoClubRes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRes">
      <soap:operation soapAction="http://tempuri.org/IServicioVideoClubRes/GetRes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LogFaultFault">
        <soap:fault use="literal" name="LogFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Reservar">
      <soap:operation soapAction="http://tempuri.org/IServicioVideoClubRes/Reservar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LogFaultFault">
        <soap:fault use="literal" name="LogFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioVideoClubRes">
    <wsdl:port name="BasicHttpBinding_IServicioVideoClubRes" binding="tns:BasicHttpBinding_IServicioVideoClubRes">
      <soap:address location="http://localhost:8733/ServicioVideoClubRes/ServicioVideoClubRes/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>