Service References/ServicioVideoClubPeliculasRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServicioViedoClubPeliculas" />
  <xs:element name="GetPelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeliculaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioViedoClubPeliculas" minOccurs="0" name="GetPeliculaResult" nillable="true" type="q1:Pel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="añofilm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="directores" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actores" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Loriginal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Ldisponible" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="duracion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="genero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="disponibles" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioViedoClubPeliculas" minOccurs="0" name="InsertarResult" nillable="true" type="q2:Pel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServicioViedoClubPeliculas" minOccurs="0" name="EliminarResult" nillable="true" type="q3:Pel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RVP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RVPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServicioViedoClubPeliculas" minOccurs="0" name="RVPResult" nillable="true" type="q4:Pel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCantidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCantidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServicioViedoClubPeliculas" minOccurs="0" name="GetCantidadResult" nillable="true" type="q5:Pel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeliculaT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="genero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="año" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="actor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeliculaTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServicioViedoClubPeliculas" minOccurs="0" name="GetPeliculaTResult" nillable="true" type="q6:Pel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>