Service References/ServicioVideoClubRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioLog" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServicioVideoClub" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioLog_GetLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLog" />
  </wsdl:message>
  <wsdl:message name="IServicioLog_GetLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLog_GetLog_LogFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioVideoClub" name="detail" element="q1:LogFault" />
  </wsdl:message>
  <wsdl:message name="IServicioLog_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IServicioLog_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioLog_Insertar_LogFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ServicioVideoClub" name="detail" element="q2:LogFault" />
  </wsdl:message>
  <wsdl:portType name="IServicioLog">
    <wsdl:operation name="GetLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLog/GetLog" message="tns:IServicioLog_GetLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLog/GetLogResponse" message="tns:IServicioLog_GetLog_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicioLog/GetLogLogFaultFault" name="LogFaultFault" message="tns:IServicioLog_GetLog_LogFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioLog/Insertar" message="tns:IServicioLog_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioLog/InsertarResponse" message="tns:IServicioLog_Insertar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IServicioLog/InsertarLogFaultFault" name="LogFaultFault" message="tns:IServicioLog_Insertar_LogFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioLog" type="tns:IServicioLog">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLog">
      <soap:operation soapAction="http://tempuri.org/IServicioLog/GetLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LogFaultFault">
        <soap:fault use="literal" name="LogFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IServicioLog/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="LogFaultFault">
        <soap:fault use="literal" name="LogFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioLog">
    <wsdl:port name="BasicHttpBinding_IServicioLog" binding="tns:BasicHttpBinding_IServicioLog">
      <soap:address location="http://localhost:8733/ServicioVideoClub/ServicioLog/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>