Service References/ServicioVideoClubBlo/ServicioVideoClubBlo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioVideoClubBlo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioVideoClubBlo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Blo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Finicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tidentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bloqueado" type="xs:boolean" />
      <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="domicilio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Blo" nillable="true" type="tns:Blo" />
  <xs:complexType name="BloFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BloFault" nillable="true" type="tns:BloFault" />
</xs:schema>